.b140{
	margin-bottom: 140px;
}
.t140{
	margin-top: 140px;
}
.t20{
	margin-top: 20px;
}
.t40{
	font-size: 40px;
}
.tb{
	font-weight: 2px;
}
.b20{
	margin-bottom: 20px;
}
.pd-5-10{
	padding: 0% 11% 3% 16%;
}
.b5{
	margin-bottom: 15px;
}