.b140{
	margin-bottom: 140px;
}
.t140{
	margin-top: 140px;
}
.t20{
	margin-top: 20px;
}
.t40{
	font-size: 40px;
}
.tb{
	font-weight: 2px;
}
.b20{
	margin-bottom: 20px;
}
.pd-5-10{
	padding: 0% 11% 3% 16%;
}
.b5{
	margin-bottom: 15px;
}
.boton2{
	background: aqua;
	padding: 20px;
	width: 100px;
	height: 25px;
	color: white;
}
.boton3{
	background: white;
	margin-left: 2px;
	width: 100px;
	height: 25px;
}
.img{
	width: 85%;
	margin-left: 70px;
}